#payment-wrapper {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-gap: 16px;
}
.payment-image {
  img {
    width: 100px;
    height: 130px;
    object-fit: cover;
  }
}

.payment-container {
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: grey;
  }
}

.shipping-form {
  h3 {
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
  }
  p {
    font-size: 13px;
  }
}

.shipping-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  p {
    margin-bottom: 0px;
  }
  i {
    color: #1EDD88;
  }
}

.shipping-wrapper {
  h3 {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
  }

  h4 {
    font-size: 17px;
  }
}

@media(max-width: 991.98px) {
  #payment-wrapper {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 575px) {
  .shipping-content {
    p {
      font-size: 14px;
    }
  }

  .shipping-wrapper {

    .col {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    .col-7 {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    .col-6 {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    .col-5 {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    .col-4 {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    .col-3 {
      padding-right: 8px ;
      padding-left: 8px ;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      text-align: right;
    }
  }

  .shipping-form {

    p {
      font-size: 10px;
    }
  }

  .payment-container {
    h2 {
      text-align: center;
    }
  }
}
