<div class="pl-0 pl-md-4">
  <h2 class="font-weight-bold h3 pb-4">TUS DATOS</h2>
  <h2 class="h5 font-weight-bold mb-1">Nombre legal</h2>
  <p><%= @user.email %></p>
  <h2 class="h5 font-weight-bold mb-1">Telefono</h2>
  <p>algo para poner </p>
  <h2 class="h5 font-weight-bold mb-1">Direción</h2>
  <p>algo para poner %></p>
  <h2 class="h5 font-weight-bold mb-1">Ciudad</h2>
  <p>algo para poner </p>
  <h2 class="h5 font-weight-bold mb-1">Dirección de correo electrónico</h2>
  <p>algo para poner </p>
  <div class="pt-3 pb-5">
   <%= link_to 'Editar Perfil', edit_user_registration_path, class: "btn btn-dark btn-lg btn-block" %>
 </div>
</div>
