<% if @user == current_user %>
<% if current_user.admin? %>
<%= render 'admin_menu' %>
<% else %>
<% end %>
<div class="container pt-5">
  <div class="user-show-title d-flex justify-content-between align-items-center mt-5">
    <h2><%= @user.email %></h2>
    <h3> <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%></h3>
  </div>
</div>
<div class="about-container">
</div>


<% else %>
<%= render "shared/denied" %>
<% end %>
