<%= simple_form_for @division do |f| %>
<%= f.input :name %>
<div class="text-right">
  <%= f.submit class: "btn btn-primary btn-block mt-4" %>
  <%= link_to "volver", user_path(current_user) , class: "btn btn-secondary mt-4 text-right mb-5"%>
</div>
<% end %>
