<div class="bg-secondary" id="footer">
 <h2 class="text-center">Suscribite al newsletter</h2>
 <form action="">
   <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
  </div>
 </form>
  <h2>Seguinos en:</h2>
  <div class="d-flex align-items-center justify-content-center py-4">
    <%= link_to "#", target: "_blank" do  %>
      <i class="fab fa-facebook-f h2 mr-3"></i>
    <% end %>
    <%= link_to "#", target: "_blank" do %>
      <i class="fab fa-instagram h1 mr-3"></i>
    <% end %>
    <i class="fab fa-whatsapp-square h1"></i>
  </div>
  <div class="container border-top border-white py-3">
    <div class="text-center text-md-left d-md-flex justify-content-between">
      <p><i class="far fa-copyright h6"></i> 2020 - <strong>COTTON HOME</strong> Todos los derechos reservados</p>
      <p class="pt-2 pt-md-0">Made by <strong> <%= link_to 'GV', 'http://www.guillermo-varela.com', target: "_blank"  %></strong></p>
    </div>
  </div>
</div>
