<div class="container py-5 bg-success mt-5">
  <% if user_signed_in? %>
  <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%>
  <% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
  <% end %>
</div>
