<h2 class="pt-5 text-center pb-5">Categorias</h2>
<div id="social-media-grid">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176396/Cotton_Home_-_Web-9_dxgomc.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-4_bmlybm.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-3_ncd4bf.jpg" alt="">
   <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176396/Cotton_Home_-_Web-9_dxgomc.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-4_bmlybm.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-3_ncd4bf.jpg" alt="">
   <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176396/Cotton_Home_-_Web-9_dxgomc.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-4_bmlybm.jpg" alt="">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1614176395/Cotton_Home_-_Web-3_ncd4bf.jpg" alt="">
</div>
