<div class="banner d-flex align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container text-center pb-5">
    <h1>Nueva Colección</h1>
    <a href="#home-cards">Muchos productos nuevos...</a>
  </div>
</div>
<section id="home-cards">
  <div class="home-cards">
    <%= render 'cards' %>
  </div>
</section>
<div class="container">
  <div class="text-center">
    <h2 class="pt-5">Mas vendidos</h2>
    <p class="pb-5">Renovate elegi nuestros productos mas vendidos</p>
  </div>
  <div class="products-home-cards pb-5">
    <% @products.last(3).each do |product| %>
    <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>
