#category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.sub-categories {
  margin-top: 100px;
}

 //show filters in stimulus
 .show {
    display: block !important;
  }

@media (max-width: 991.98px) {
  #category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

@media(max-width: 575.98px) {
  #category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}
