<div class="container d-flex justify-content-center pt-5 mt-5">
  <div class="shipping-form">
    <% unless @order&.shipping&.valid? %>
    <%= render 'shippings/new' %>
    <% else %>
    <%= render 'shipping' %>
    <% end %>
  </div>
  <div class="payment-container">
    <%= render 'order' %>
  </div>
</div>




