.card {

  a {
    color: black;
    text-decoration: none;
  }
  &:hover {
    box-shadow: 1px 1px 10px lightgrey;
  }

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media(max-width: 575px) {
  #article-card {
    img {
      height: 203px;
      object-fit: cover;
    }
  }

  .card-body {
    h5 {
      font-size: 16px !important;
    }
  }
}

