.line-wrapper {
  display: flex;
  align-items: justify-center;
  padding: 20px;
  border-bottom: 1px solid;
  border-color: grey;
}

.line-image {
  padding-right: 16px;
  img {
    border-radius: 6px;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

.line-content {
  flex: 0 0 60%;
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  h3 {
    font-size: 12px;
    color: black;
  }
}

.line-quantity {
  p {
    font-size: 13px;
  }
}

.line-price {
  p {
    font-size: 12px;
    color: black;
  }
}
.line-description {

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0px;
  }

  a {
    color: $blue;
    margin-top: 0px;
    font-size: 13px;
  }
}

.increase {
  .form-control {
     background: none;
     border-color: black;
     &:hover {
      color: black !important;
     }
  }
}

@media (max-width: 767.98px) {
  .line-wrapper {
    display: block;
  }

  .line-image {
    padding-right: 0px;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 200px;
    }
  }
}




