<div class="category-banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @category.photo %>);">
  <div>
    <h1><%= @category.name %></h1>
  </div>
</div>
<div class="categories">
  <div class="d-flex justify-content-center py-5">
    <% @category.sub_categories.each do |sub_category| %>
    <h5><%= link_to sub_category.name, sub_category_path(sub_category), class: "pl-3 text-body" %></h5>
    <% end %>
  </div>
  <div class="container" id="category-container">
    <% @products.each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>
