<div class="category-banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @category.photo %>);">
  <div>
    <h1><%= @category.name %></h1>
  </div>
</div>
<div class="categories">
  <div class="d-md-flex justify-content-center py-2 py-md-5 text-center px-3 px-md-0">
    <% @category.sub_categories.each do |sub_category| %>
    <h5 class="py-2 py-md-3 mb-0 border-bottom"><%= link_to sub_category.name, sub_category_path(sub_category), class: "pl-md-3 text-body" %></h5>
    <% end %>
  </div>
  <div class="container" id="category-container">
    <% @products.each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>
