.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn-border-thick {
  border: 2px solid;
}
.disabled {
  input {
    background-color: white;
    color: black;
    text-align: center;
  }
}

.label-size {
 .form-check {
  padding-left: 8px;
}
}

//carousel
.product-image {
  img {
    width: 100%;
    height: 740px;
    object-fit: cover;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

//second part
.product-image-container img {
  width: 90px;
  height: 140px;
  object-fit: cover;
}

#price {
  width: 100%;
  border: none;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .label-size {
    .form-check {
      padding-left: 0px;
    }
  }

  #price {
    font-size: 23px;
  }
}


@media(max-width: 769px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media(max-width: 575px) {
  .product-image {
    img {
      height: 500px;
    }
  }

  #price {
    font-size: 18px;
  }
}
